.registerContainer{
    background: linear-gradient(180deg, #1C5C9C , #DEE2E6 87%);
    height: 100vh;
    min-height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.formContainer {
    text-align: center;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 600px;
    background: rgba(255, 255, 255, 0.73);
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}
.buttonReturn{
    margin-top: 50px;
    text-align: left;
    padding-left: 30px;
    font-weight: bold;
    font-size: 1.2em;
}

.register{
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 36px;  
color: black;
padding-top: 20px;
padding-bottom: 38px;
}

.registerProfile{
    color: black;
}


.registerForm form input{
    display: block;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 100px;
    border: none;
    margin: 30px auto 30px auto;
    width: 532px;
    height: 50px;
    text-align: center;
    background: #FFFFFF;
    border: 2px solid #1C5C9C;
    box-sizing: border-box;
    border-radius: 30px;
}


.buttonRegister{
    background: linear-gradient(270deg, #4936BD , #1C5C9C);
    width: 364px;
    border-radius: 6.30112px;
    height: 38.01px;
    cursor: pointer;
    opacity: 0.6;
    margin-bottom: 30px;
}

.button.buttonRegister:hover, .button.buttonRegister:active{
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
    opacity: 1.0;
}

.buttonRegisterContainer{
    background: linear-gradient(270deg, #4936BD , #1C5C9C);
    width: 364px;
    border-radius: 6.30112px;
    height: 38.01px;
}

