.loginContainer{
    background: linear-gradient(180deg, #1C5C9C , #DEE2E6 87%);
    height: 100vh;
    min-height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.formContainer {
    text-align: center;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.logoText{
    position: relative;
    color: #ffff;
    left: 10px;
    font-size: 30px;
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: #1C5C9C;
}
  
.registerAccount{
    margin-top: 55px;
    color: #000;
    opacity: 0.87;
}

form input{
    display: block;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 100px;
    border: none;
    margin: 25px auto 25px auto;
    width: 364px;
    height: 50px;
    text-align: center;
}

.logo{
    height: 107.9px;
    width: 93.6px;
}

.recoveryPasswordText{
    margin-top: 30px;
    margin-bottom: 30px;
    color: #1C5C9C;
    cursor: pointer;
}

.buttonLogin{
    background: linear-gradient(270deg, #4936BD , #1C5C9C );
    width: 364px;
    border-radius: 6.30112px;
    height: 38.01px;
    cursor: pointer;
    opacity: 0.6;
}
.buttonLogin:hover, .buttonLogin:active{
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
    opacity: 1.0;
}